.hero {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 12rem;
    height: 12rem;
    margin: 0 auto 2rem;
    border-radius: 9999px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.hero-image:hover {
    transform: scale(1.05);
}

.hero-title {
    font-size: 2.25rem;
    font-weight: bold;
}

.hero-highlight {
    background: var(--primary-button-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-subtitle {
    margin-top: 1rem;
    font-size: 1.125rem;
    color: #d1d5db;
    max-width: 730px;
}

.hero-buttons {
    margin-top: 2rem;
}

.hero-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 9999px;
    background: var(--primary-button-bg);
    color: var(--primary-button-color);
    font-size: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-button:hover {
    background: var(--primary-button-bgHover);
    color: var(--primary-button-colorHover);
    transform: scale(1.05);
}

