/* General Navbar Styles */
.navbar {
    padding: 1rem 2rem;
    background-color: var(--background-color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-light);
    position: relative;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar Links */
.navbar-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar-link {
    color: var(--navbar-link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: var(--navbar-link-hover-color);
}

/* Right Section */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--icon-fill);
    transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Navbar Links - Mobile Styles */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        background-color: var(--background-color-secondary);
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem 0;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-container {
        justify-content: space-between;
    }

    .hamburger {
        display: flex;
    }
}

/* Custom Dropdown Styles */
.custom-dropdown {
    position: relative;
    display: inline-block;
    min-width: 100px;
    outline: none;
}

.custom-dropdown-btn {
    background-color: var(--background-color-secondary);
    border-radius: 6px 6px 0 0;
    padding: 0.4rem 0.8rem;
    font-size: 14px;
    color: var(--text-color-light);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    outline: none;
}

/*.custom-dropdown-btn:hover {*/
/*    background-color: var(--navbar-link-hover-color);*/
/*    color: var(--background-color-secondary);*/
/*}*/

.dropdown-icon {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

/* Default closed state for dropdown */
.dropdown-options {
    position: absolute;
    width: 100px;
    top: 100%;
    right: 0;
    background-color: var(--background-color-secondary);
    border-radius: 0 0 6px 6px;
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    /* Start state of animation */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* When dropdown is open */
.dropdown-options.open {
    opacity: 1;
    transform: translateY(0); /* Slide down */
    pointer-events: auto; /* Enable interaction */
}



.dropdown-item {
    text-align: center;
    padding: 0.4rem 1rem;
    font-size: 14px;
    color: var(--navbar-link-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: var(--navbar-language-link-hover-color);
    color: var(--background-color-secondary);
}

.dropdown-item.active {
    font-weight: bold;
    background-color: var(--navbar-language-link-hover-color);
}

/* Responsive Dropdown Styles */
@media (max-width: 768px) {
    .custom-dropdown-btn {
        font-size: 12px;
        padding: 0.3rem 0.6rem;
    }

    .dropdown-item {
        font-size: 12px;
    }

    .dropdown-options {
        width: 100px;
    }
}

/* Dark Mode Switch for Mobile */
.navbar-links .react-toggle-dark-mode {
    margin-top: 10px;
}